@font-face {
    font-family: "Right";
    src: url("font/Righteous-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "Suez";
    src: url("font/SuezOne-Regular.ttf") format("truetype"),
}

body{
    display: Flex;
    color: #FFFFFF;
    background-color: #343434;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

li{
    text-decoration: none;

}